.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: black;
}

.footer-containter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1140px;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.counter {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

h4 {
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .footer-containter {
    grid-template-columns: 1fr;
  }
}
